#wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#header {
  width: 100%;
  position: fixed;
}

#header .menu {
  float: right;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 30px;
  box-sizing: border-box;
}

#header .menu li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  font-family: 'Montserrat';
  font-size: 1rem;
}

#main {
  width: 100%;
  height: 100%;
}

#main .name1 {
  padding-top: 225px;
  padding-left: 75px;
}

#main .name1 h2 {
  font-size: 11.5rem;
  line-height: 0.72;
  z-index: 2;
  font-weight: 400;
}

#main .text {
  top: 100px;
  padding-top: 85px;
  padding-left: 65px;
  font-family: 'Montserrat';
  color: gray;
  font-size: 0.8rem;
}

#main .name2 {
  padding-top: 85px;
  padding-left: 65px;
  position: relative;
}

#main .name2 p {
  font-size: 11.5rem;
  line-height: 0.7;
  z-index: 2;
  position: relative;
}

#about {
  width: 100%;
  margin: 0 auto;
  width: 55%;
  padding-top: 450px;
  text-align: center;
}

#about .a_h {
}

#about .a_h h2 {
  font-size: 11.5rem;
  line-height: 0.7;
  font-weight: 400;
}

#about .a_sh img {
  position: relative;
  float: left;
  bottom: 130px;
  opacity: 70%;
}

#about .a_sh ul {
  margin-top: 100px;
}

#about .a_sh li {
  float: left;
  margin-left: 60px;
  font-size: 2.8rem;
}

#about p {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

#skills {
  width: 100%;
  height: 300px;
}

#skills h2 {
  font-size: 11.5rem;
  line-height: 0.7;
  font-weight: 400;
}

#projects {
  margin: 0 auto;
  width: 55%;
  height: 3100px;
  padding-top: 400px;
}

#projects .p_h h2 {
  float: right;
  font-size: 11.5rem;
  line-height: 0.7;
  font-weight: 400;
  padding-bottom: 150px;
}

#projects .p_b img {
  width: 400px;
  height: 500px;
}

#projects .isakonx,
#projects .qwwwr {
  width: 900px;
  height: 600px;
  float: right;
}

#projects .isakonx img,
#projects .qwwwr img {
  float: right;
  margin-right: 40px;
}

#projects .isakonx .txt_small,
#projects .qwwwr .txt_small {
  padding-left: 3rem;
}

#projects .gs img,
#projects .hungry img {
  float: left;
}

#projects .gs,
#projects .hungry {
  width: 900px;
  height: 600px;
  float: right;
}

#projects .gs .txt,
#projects .hungry .txt,
#projects .gs .txt_small,
#projects .hungry .txt_small {
  padding-right: 50px;
  box-sizing: border-box;
  text-align: right;
  width: 500px;
  float: right;
}

#projects .p_b .txt {
  padding: 1.8rem 3rem;
  font-size: 1.8rem;
}

#projects .txt_small {
  color: rgb(147, 147, 147);
  font-size: 1.1rem;
}

#projects span img {
  opacity: 50%;
  position: relative;
  bottom: 120px;
  left: 130px;
  float: right;
}

#contact {
  width: 100%;
}

#contact p {
  text-align: center;
  font-size: 11.5rem;
  line-height: 0.7;
  padding-bottom: 40px;
  color: #000;
  text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
}

#contact h2 {
  text-align: center;
  font-size: 11.5rem;
  line-height: 0.7;
  font-weight: 400;
  margin-top: 80px;
  padding-bottom: 150px;
}
