* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "MingLiU_HKSCS-ExtB";
  font-size: 12px;
  color: #fff;
  background-image: url(../images/noise.jpg);
}
